/* src/styles/CartPage.css */
.cart-container {
  max-width: 600px;
  margin: auto;
  padding: 2rem;
  background-color: #fdfdfd;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.cart-container h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
}

.book-info {
  flex: 1;
}

.actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.actions input {
  width: 60px;
  padding: 0.3rem;
}

.actions button {
  background-color: #01160e;
  color: white;
  border: none;
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
  cursor: pointer;
}

.actions button:hover {
  background-color: #2b7222;
}

.place-order-btn {
  margin-top: 1rem;
  width: 100%;
  padding: 0.7rem;
  background-color: #7b8f82;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.place-order-btn:hover {
  background-color: #218838;
}
